# Dependencies
node_modules

# Logs
*.log*

# Temp directories
.temp
.tmp
.cache

# Nuxt
.nuxt
.output
.vercel_build_output
.build-*
.env
.netlify

# Testing
reports
coverage
*.lcov
.nyc_output

# VSCode
.vscode

# Intellij idea
.idea

# OSX
.DS_Store
.AppleDouble
.LSOverride
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

tsconfig.json
.npmignore
.gitignore
.prettierrc
.editorconfig
deploy/
playground/
src/
build.config.ts
*.tgz

.commitlintrc.json
eslint.config.ts
.husky/
.github/
